+title("Sample Content")
.lfdemo-main-cover.general
  .title-box
    .lfdemo-title Sample Digital Library
    a.block.divinity(href="#book/50-content-divinity-sample") Divinity: Religions of the World
    a.block.history(href="#book/50-content-history-sample") History: 1979. Iranian Revolution
    a.block.mathematics(href="#book/50-content-math-sample") Mathematics: Statistics and numbers

//- Dummy section, so LFA won't add one
section
