+title("Divinity")
+subtitle('Hinduism')
.lfdemo-header.full.hinduism
  .title-box
    .title Hinduism

h2 Overview of Hinduism
p Hinduism is currently the third largest religion in the world, with approximately 900 million followers all around the world. The majority of Hindus live in India, followed by the United Kingdom and the United States. Hinduism is the name given in the 19th century to the variety of religions that existed in India. These religions have many common characteristics – such as belief in reincarnation - but also a number of differences. Thus being Hindu in terms of following religion in a village in India would be very different from being Hindu in terms of following its philosophical teachings. In this sense Hinduism is not a religion with an organized set of beliefs and principles. It has no founder. Instead, Hinduism has evolved into its current form over the last 4,000 years.
.row
  .col-sm-8.col-xs-12
    p The symbol for Hinduism is the Sanskrit word ‘Aum’. Its meaning is complex but it can be understood as representing God and the sound of creation. Aum is a sacred sound for Hindus. They believe that it is the first sound God made and the basis of all other sounds in the universe including speech. Aum is said at the start and end of most prayers in Hinduism.
  .col-sm-4.col-xs-12
    .img
      +img("img/divinity/2_divinity.jpg")
p Many – but not all - Hindus believe in one supreme God whom they call Brahman but they worship that one God in various forms according to the different functions they believe he performs. God may be represented in masculine and feminine ways and worshipped in male and female forms. The Mother Goddess or feminine aspect of God is represented through the various female deities of Hinduism. Most Hindus would agree that God is omnipresent, always present everywhere and in all living things.
p The three main deities in Hinduism are known as the Trimurti. They are Brahma the creator, Vishnu the preserver and Shiva the destroyer who makes new growth possible.
.row
  .col-sm-6.col-xs-12
    .img
      +img("img/divinity/3_divinity.jpg")
  .col-sm-6.col-xs-12
    p Together they work to maintain the continuous cycle of life within the universe. Vishnu is believed to have come to earth in nine different forms or avatars. His best known avatar is Krishna. Visual images of Hindu deities are very popular and each has a large number of symbols that signify important Hindu beliefs about the nature of God. Puja – worship – can take place at home or in the mandir – temple.
p Given its age and the variety of deities in Hinduism, there are hundreds of religious festivals celebrated during the year. Divali commemorates the Hindu New Year and puja is aimed at encouraging Lakshmi the deity of good fortune to bring prosperity in the year ahead. Pilgrimages to holy places particularly connected to the river Ganga are also very important to many Hindus. One of these festivals, the Kumbh Mela, takes place every three years. On 10th February 2013, thirty million people were at the celebrations in Allahabad – estimated to be the largest ever human gathering on a single day.
.img.full
  +img('img/divinity/trimurti.jpg')
.small The Hindu Gods Vishnu, Shiva, and Brahma | India, Bihar, Terai region, 10th century, Sculpture, Black schist, Gift of Ramesh and Urmil Kapoor |
  a(href="http://www.lacma.org", target="_blank") LACMA: Los Angeles County Museum of Art


h2 Focus Point:
  span.label.label-default Dharma
.row
  .col-sm-8.col-xs-12
    p Gandhi (1869-1948) summarised Hindu beliefs as follows:
      blockquote God exists. He is without beginning and without any attribute or form. He is omnipresent and omnipotent. His original form is Brahman. It neither does nor causes to be done. It does not govern. It is bliss incarnate, and by it all this is sustained. The soul exists, and is distinct from the body. It also is without birth. Between its original form and Brahman, there is no distinction. It takes on a body and goes on being born again and again into high and low species in accordance with the good or bad deeds performed by it. Liberation from the cycle of birth and death is when the soul is merged in Brahman.
  .col-sm-4.col-xs-12
    .img
      +img("img/divinity/599px-Portrait_Gandhi.jpg")
      //- .small Mohandas Karamchand Gandhi (1869 - 1948) was the preeminent leader of Indian independence movement in British-ruled India.
p In this way, Hinduism sees itself as providing a map of how to guide oneself in order to fulfil the four purposes of life.
ol
  li
    span.label.label-default Dharma – duty.
    |  A person’s dharma involves virtues such as honesty, refraining from injuring living beings, patience and generosity. These general moral virtues people should have in their relationships with others.
  li
    span.label.label-default Artha – prosperity.
    |  As long as it does not conflict with one’s dharma, a person should do all they can to be successful in their profession. This will lead to gaining possessions and material success. This will benefit society in general.
  li
    span.label.label-default Kama – pleasure.
    |  As long as it does not conflict with one’s dharma, a person should seek pleasure of all kinds including enjoyment of the senses and more refined pleasure. Such pleasures should be regulated but are important as they lead to a healthy and fulfilled life.
  li
    span.label.label-default Moksha – liberation.
    |  This is the ultimate aim in life as it means liberation from the cycle of rebirth-life-death-rebirth. The soul is merged with Brahman and can achieve eternal peace and happiness.
p According to Hinduism, an individual’s dharma depends on the class into which they are born. In one of the Hindu creation stories, the four classes emerged from the first man. The most important class emerged from his mouth and that is the class of priests who are spiritual teachers and spiritual leaders. The second class emerged from his arms and that is the class of warriors who as soldiers and rulers maintain law and good government. The third class emerged from his legs and that is the class of merchants and craftsmen who are responsible for trade, commerce, agriculture and industry. The fourth class emerged from his feet and that is the class of labourers who are unskilled workers seeking employment. Within each of these four classes there are many castes which are based on a person’s occupation, family or place of birth. Beneath and outside of the four classes are the Untouchables who did the dirtiest and most unpleasant jobs and who were forbidden from mixing with people from the four classes.
p In the past the division between class and castes was very strictly followed. A person had to follow the dharma of the class and caste into which they were born and could not move out of it through attempting to get a different occupation or through marrying someone from another class or caste. For someone in a lower class or caste, change could only happen through having a good rebirth. From the time of independence in 1947 onwards, the Indian government has worked to ban discrimination based on class and caste particularly that against the Untouchables.
.img.full
  +img('img/divinity/A_school_of_untouchables_near_Bangalore_by_Lady_Ottoline_Morrell_2.jpg')
.small A school of untouchables near Bangalore by Lady Ottoline Morrell

br
br

.row
  .col-sm-6
    h2 Knowledge Questions
    ol
      li Who is the founder of Hinduism?
      +textline({name: 'divinity-1', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What is the name of the symbol for Hinduism?
      +textline({name: 'divinity-2', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li The symbol represents God and what else?
      +textline({name: 'divinity-3', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What is the name of the one supreme God many Hindus believe in?
      +textline({name: 'divinity-4', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What are the three main deities in Hinduism known as?
      +textline({name: 'divinity-5', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li Which of these three is ‘the destroyer who makes new growth possible’?
      +textline({name: 'divinity-6', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li How many avatars does Vishnu have?
      +textline({name: 'divinity-7', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What is the name of the best known avatar?
      +textline({name: 'divinity-8', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What is the name given to worship in Hinduism?
      +textline({name: 'divinity-9', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
      li What is the name of the deity of good fortune in Hinduism?
      +textline({name: 'divinity-10', type: 'multiline', max: 500, rows: 2, placeholder: '..............', ignoreScore: true})
  .col-sm-6
    h2 Explanation Questions
    ol
      li Explain the connection between Brahman and a person’s soul.
      +textline({name: 'divinity-11', type: 'multiline', max: 500, rows: 4, placeholder: '..............', ignoreScore: true})
      li Explain in your own words the four purposes of life according to Hinduism.
      +textline({name: 'divinity-12', type: 'multiline', max: 500, rows: 4, placeholder: '..............', ignoreScore: true})
      li Explain where each of the four classes emerged from according to a Hindu creation story.
      +textline({name: 'divinity-13', type: 'multiline', max: 500, rows: 4, placeholder: '..............', ignoreScore: true})
    h2 Discussion Questions
    ol
      li: blockquote ‘It does not matter what job you do in life as long you earn your living honestly.’
      p Do you agree or disagree? Give reasons for your answer showing that you have thought about more than one point of view.
      +textline({name: 'divinity-14', type: 'multiline', max: 500, rows: 4, placeholder: '..............', ignoreScore: true})

      li: blockquote ‘The most important thing in life is to do your duty.’
      p Do you agree or disagree? Give reasons for your answer showing that you have thought about more than one point of view.
      +textline({name: 'divinity-15', type: 'multiline', max: 500, rows: 4, placeholder: '..............', ignoreScore: true})

