+title('History')
+subtitle('The Role of Islam')

.lfdemo-header.full.history
  .title-box.dark
    .title.history The Role of Islam
br
.row
  .col-md-6(style='text-align: justify')
    span In 1978, there were huge strikes and demonstrations calling on the Shah to abdicate. Every time the Shah's army and police killed people in these protests, there followed even bigger demonstrations, often a million-strong in the capital, Tehran. In September 1978, the government introduced military rule and, the next day, troops killed over 500 people in a massive demonstration. In October, there was a wave of strikes which brought most industry, including oil production, to a halt.

    br
    br
    span By the end of 1978 some soldiers were refusing to fire on crowds. Many of them, especially conscripts, sympathised with the protestors. Meanwhile, the Shah's advisers assured hint that he was still popular and that it was only a minority of agitators who were misleading people and causing the protests.

    br
    br
    span In 1979, the Shah left Iran In order to receive treatment for cancer. He never returned. The USA, the former ally of the Shah, was seen as the main enemy in Iran and came to be known as 'the Great Satan'. When the US government allowed the Shah into America to receive medical treatment in November 1979, Iranian students stormed the US embassy in Tehran, and took 50 of the American staff as hostages. The US government declared Iran to be an international 'outlaw'. 

    br
    br
    span The 76-year-old Khomeini returned to Iran in triumph amid huge celebrations, and declared an Islamic Revolution. The Shah's last prime minister fled the country and most of the army declared support for the revolution. A national referendum produced a large majority in favour of abolishing the monarchy and establishing an Islamic republic.
  .col-md-6
    .box
      h3(style='margin: 0; padding: 0')
        strong Ayatollah Khomeini
      .img
        +lightbox('img/history/6_history.jpg')
      br
      | Born in 1902, he was brought up by his mother following the murder of his father in 1903. He had a traditional religious education.
      hr(style='width:80%; margin: 0.5em auto')
      | He spent much of his life in studying, writing and teaching Islamic law, philosophy and ethics.
      hr(style='width:80%; margin: 0.5em auto')
      | Became an ayatollah in the early 1920s. The term 'ayatollah' is used by Shia Muslims to refer to the most senior religious scholars.
      hr(style='width:80%; margin: 0.5em auto')
      | From 1904 to 1979 Khomeini lived in exile.
      hr(style='width:80%; margin: 0.5em auto')
      | He was popular in Iran for his opposition to the Shah and the Shah's dependence on the USA, for his simple lifestyle and language, and his re(style='width:80%; margin: 0.5em auto')ligious beliefs.
      hr(style='width:80%; margin: 0.5em auto')
      | He reminded people that Muhammad, the founder of Islam, had established and ruled over an Islamic state in Arabia in the seventh century AD. In other words, Muhammad had been a political as well 35 a religious leader. As Khomeini said: 'Islam is politico or it is nothing.
      
br
  
+youtube('kY0ixG94cHE')

p Despite the huge support for the Ayatollah, there were other groups competing for power in Iran. For instance, there was the Communist Party and there were middle-class liberals who wanted a Western-style democracy. However, it was Ayatollah Khomeini's supporters, organised in the Islamic Republican Party, who came to dominate Parliament and hold key positions in the government.

p Although Khomeini was not president or prime minister, he held ultimate power as the 'supreme leader' of Shiite Iran. He had the final say in government and law-making. New laws, based on the Koran, the Muslim holy book, were passed: education was purged of un-Islamic influences; women had to cover their heads in public; and alcohol, Western pop music and most Western films were banned. There were also mass trials of the Shah's former supporters and many were executed.

.box
  h3(style='margin: 0; padding: 0') Source analysis
  strong Source 1
  
  .img
    +lightbox("img/history/5_history.jpg")
  .small-text
    em Ayatollah Khomeini waving to a crowd of enthusiastic supporters on his return to Tehran, February 1979. 

  hr
  
  strong Source 2
  
  p Numerous eyewitnesses have commented on the almost universal enthusiasm, discipline, mutual cooperation and the organisation which added to the spirit and extent of the last months of the revolution and distributed supplies and heating oil during the revolutionary strikes.
  small
    em Written in 2003 by historian Nikki Keddie, an expert on Iranian history who has written several books, over 40 years, on the subject.

  hr

  strong Study Sources 1 and 2 above.
  br
  br
  span 1. Do they prove that ordinary Iranians supported the revolution?
    +textline({name: 'history_09_03', type: 'multiline', max: 5000, rows: 4, placeholder: '..............', ignoreScore: true})
  br
  span 2. Is one source more convincing as evidence than the other? Explain your answers.
     +textline({name: 'history_09_04', type: 'multiline', max: 5000, rows: 4, placeholder: '..............', ignoreScore: true})


h3 Iran and Iraq 

p Khomeini and his government were keen to spread the Islamic revolution to what they saw as the corrupt, un-Islamic regimes in other parts of the Muslim world. Above all, they denounced the ties which bound other states to the West
p Neighbouring Iraq was a prime target for the export of the Islamic revolution. It had a completely secular, non-religious government and a growing religious opposition. It also had a large Shiite population, who were excluded from top positions in government.
p Khomeini accused the Iraq government of being 'atheist' and 'corrupt' and, in one of his broadcasts to the people of Iraq, he called on themp : 'Wake up and topple this corrupt regime in your Islamic country before it is too late.’

h2 Think! 
p It is December 1979. You are a Western journalist who has been asked to review the first twelve months of the Islamic republic for people who know very little about it. You should explain:

ul
  li Why was an Islamic government established?
  li What form it takes e.g. is it democratic or a one-party state? Is there a parliament?
  li What is the role of Khomeini?
  li What reforms have been passed?
  li What are its policies towards:
    ol(type="a", style='margin: 1em')
      li other Muslim countries?
      li the USA? 

+textline({name: "history-04-text-03",
    type: 'multiline', rows: 19, max: 10000,
    title: "Give a least one reason.",
    placeholder: 'Your small article here...',
    //- regexp: /(\s*\S+\s+){9,}/,
  })
