+title('DYI')
+subtitle('Create your content')

center
  h1 Intentionally left blank
  small so that you can play with it
  br
  small (click the  
    em Cat
    |  > 
    em Settings
    |  > enable 
    em Teacher Mode
    | , come back and click the new yellow button)
