mixin footnote(text)
  span.footnote
    a(tabindex="0", data-trigger="hover focus", class="footnote item-popover", type="button", data-placement="auto", data-content= text)
      block


mixin lfdemo-slide-contents(className)
  div(class = ['lfdemo-slide-contents', className].join(' ').trim())
    block

mixin lfdemo-slide-notes
  .lfdemo-slide-notes
    block