.select-to-highlight
  .good, .bad
    text-align: center
    margin: .2em 0 .2em .3em
    border: 2px solid orange
    border-radius: 5px
  .selected 
    background-color #FFCC00
    
.spacer-02
  height: .2em

.spacer-05
  height: .5em
  
.maths-1-ex2
  table
    td
      text-align: center
  ul 
    li
      list-style-type: none