+title('Learn Forward at TES Live')

p
  | More and more classrooms have poweful connected devices available for the teachers and for students. More and more people, including young kids, have access to technology at home, at school, at work, they have their own phones, tablets. Any of their tiny pocket devices has more processing power and connectivity than all the computers thirty years ago. A £50 tablet has more features than the original iPad.

p
  | Yet, despite this wonderfully powerful and shiny hardware being available and affordable, the best tools for teaching are still the whiteboard, the pen and paper. And this is to be expected, because proper software is lacking, because the content has not been adapted for the features the technology. Digital classrooms do not work.

p
  | And it is a pitty. Because the same technology that hepled people have better lifes, can be used to make teachers and students lives easier in the classroom. Facebook, Google, iTunes, Twitter, Amazon and others proved that software can be friendly and useful and straightforward.

p
  | Teaching software is confusing, it often requires an IT specialist to set up and support. The educational content is hidden somewhere in the system, burried in a sea of settings and administrative tasks.

p
  strong Learn Forward helps the teacher do her main job: teaching.
  | It is a set of extremely intuitive tools that support of delivering content.

p
  | Teachers in London, Windsor and Eastern Europe use Learn Forward to teach primary and secondary. Trainers

ul
 li
  strong No setup.
  | It runs in a browser. No installs, no configs, no login.
 li
  strong Easy to use.
  | No options, not unless you're ready for them.
 li
  strong Considerate Control.
  | Everybody on the same page, transparent presence

h3 Features

p
  strong Novel format
  | responsivei, universal etc.

p
  strong Collaborativity
  |

p
  strong Freedom
  | change text, etc.



