+title('Digital does not work')
+subtitle('Why')

+lfdemo-slide-contents('lfdemo-slide-green')
  h1 Digital classrooms 
    strong don't work

+lfdemo-slide-notes
  h1 Technology Now
  p
    | More and more classrooms have powerful connected devices available for teachers and for students. More and more people, including young kids, have access to technology at home, at school, at work; they have their own phones, their own tablets. Any of these tiny pocket devices have more processing and connectivity power than all the computers thirty years ago, combined. A £50 tablet has more features than the original iPad.

  p
    | Yet, despite this wonderfully powerful and shiny hardware being available and affordable, the best tools for teaching are still the whiteboard, the pen and the paper. And this is to be expected, because proper software is lacking, because the content has not been adapted for the features technology can offer. Digital classrooms do not work.

  p
    | And that's a pity. Because the same technology that helped people have better lives can be used to make teachers and students' lives easier in the classroom. Facebook, Google, iTunes, Twitter, Amazon and others have proved that software can be friendly, useful and straightforward.

  p
    | Software for the classroom can be confusing, as it often requires an IT specialist to set up and provide support. The educational content is hidden somewhere in the system, burried in a sea of settings and administrative tasks.

