+title('Digital does not work')
+subtitle('Why')

+lfdemo-slide-contents('lfdemo-slide-green')
  h1 Digital classrooms 
    strong don't work

+lfdemo-slide-notes
  h1 Technology Now
  p
    | More and more classrooms have poweful connected devices available for the teachers and for students. More and more people, including young kids, have access to technology at home, at school, at work, they have their own phones, tablets. Any of their tiny pocket devices has more processing power and connectivity than all the computers thirty years ago. A £50 tablet has more features than the original iPad.

  p
    | Yet, despite this wonderfully powerful and shiny hardware being available and affordable, the best tools for teaching are still the whiteboard, the pen and paper. And this is to be expected, because proper software is lacking, because the content has not been adapted for the features the technology. Digital classrooms do not work.

  p
    | And it is a pitty. Because the same technology that hepled people have better lifes, can be used to make teachers and students lives easier in the classroom. Facebook, Google, iTunes, Twitter, Amazon and others proved that software can be friendly and useful and straightforward.

  p
    | Teaching software is confusing, it often requires an IT specialist to set up and support. The educational content is hidden somewhere in the system, burried in a sea of settings and administrative tasks.

