+title('About Learn Forward')

+lfdemo-slide-contents('lfdemo-slide-red')
  h1.title-smaller A simple platform 
    br 
    | that enables teaching & learning 
    br
    | by turning digital content into
    br
    strong live experiences.
  //- .slide
    //- h1.title-smaller
    //-   strong Learn Forward 
    //-   | is a set of tools for content and around content. It makes teaching easier for teachers and kids.
+lfdemo-slide-notes
  h3 What is it?

  p
    strong Learn Forward is a set of tools for content and around content which help teachers do their main job: teach.
    | Using it is extremely intuitive.

  p
    | Teachers in London, Windsor and Romania use Learn Forward to teach primary and secondary schools, as well as adults.

  ul
   li
    strong No setup.
    | It runs in a browser. No installs, no configs, no login.
   li
    strong Easy to use.
    | No options, not unless you're ready for them.
   li
    strong Control.
    | Everybody on the same page, transparent presence

  h3 Features

  p
    strong Novel format
    | It allows everybody to experience the content on any device with 

  p
    strong Collaborativity

  p
    strong Freedom
    | change text, etc.



