+title('Zero')
+subtitle('Zero Setup. Easy to Use. Real-time.')

+lfdemo-slide-contents('lfdemo-slide-indigo')
  .slide
    h1 Zero Setup. Easy to Use. Real-time.
    br
    h3 Same paradigms and technologies that power Google, Facebook or Amazon.

+lfdemo-slide-notes
  h2 Zero Setup

  p When there is a way to start teaching wihout spending hours and days setting things up, why would you do it?

  p When there is a way to begin your lesson in less than one minute, why spend 10 minutes logging you and your stuents in?
