+title('Zero')
+subtitle('Zero Setup. Easy to Use')

h1 Zero Setup. Easy to Use

h2 Zero Setup

p When there is a way to start teaching wihout spending hours and days setting things up, why would you do it?

p When there is a way to begin your lesson in less than one minute, why spend 10 minutes logging you and your stuents in?
