+title('Control your class')
+subtitle('No more opaque screens')

+lfdemo-slide-contents('lfdemo-slide-red')
  
    h1 Stay in Control
    br
    h4 Let's try it!

+lfdemo-slide-notes
  p Don't be the tyrant of your classroom, let the students control themselves.
  
  p Keep them on the same page, see who's focused and who's away.

