+title('It\'s Your Content')
+subtitle('Your ideas are more important')

+lfdemo-slide-contents('lfdemo-slide-indigo')
  .slide
    h1 Your lesson is 
      strong your 
      | lesson. Adapt it !
    br
    h3 Start from scratch or from a 
      em ready-to-use 
      | lesson

+lfdemo-slide-notes
  h1 Content customisation