+title('Act')
+subtitle('Participate. Vote.')

+lfdemo-slide-contents('lfdemo-slide-indigo')
  .centered
    h1 Help shape the product
    ol
      li
        strong Vote for us today
        br
        small Help us gain exposure so that we can help you back
      li 
        strong Shape the product
        br 
        small
          a(href='mailto:hello@learnfwd.com?s=I am available to speak with you')
            | Volunteer for an interview
      li
        strong Use us
        br
        small
          a(href='mailto:hello@learnfwd.com?s=I have something interesting for you to help me digitize')
            | Have your content 
            em Forwardized
      li
        strong Smile
        br
        small
           a(href='mailto:hello@learnfwd.com?s=Here is a thought for you')
            | Or send us your thoughts
