+title('DYI')
+subtitle('Create your content')

center
  small INTENTIONALLY LEFT BLANK SO THAT YOU CAN PLAY WITH IT
  br
  small (click the  
    em Cat
    | , then 
    em Settings
    | , then enable 
    em Teacher Mode
    | , come back and click the new yellow button)